<template name="dashboard">
	<div class="container">
		<div class="row" id="champion-messages">
			
			<div class="col-md-9">
				<pre>google map</pre>
			</div>
			<div class="col-md-3">
				{{> miniprofile}}
				<!-- {{> addWithModal}} -->
				{{> chat}}
			</div>
		</div>
	</div>
</template>



<template name="miniprofile">
	
	<div class="panel panel-default">
		<div class="panel-heading">
				<h3 class="panel-title">Profile</h3>

		</div>
		<div class="panel-body">
			Photo
				<br>
				Stuff
		</div>
	</div>

</template>

<template name="chat">
	
	<div class="panel panel-default">
		<div class="panel-heading">
				<h3 class="panel-title">Chat</h3>
				
		</div>
		<div class="panel-body">
			Chat
		</div>
	</div>

</template>